@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root{
     --primary-color: #FED001;
}
*{
     font-family: 'Inter', sans-serif;
     padding: 0;
     margin: 0;
}
html{
     font-size: 62.5%; 
     font-weight: 400; 
     /*poderia ser FONT: 400 62.5% 'INTER',SAN SERIF;*/
}
p,a{
     font-size: 1.6rem;
}
h1{
     font-size: 4.8rem;
     
}
nav a {
     color: inherit; /* inherit herda a cor do elemento pai no caso wrapperContainer-dark color fafafa */
}
.upper{
     text-transform: uppercase;
}
.btn{
     background-color: var(--primary-color);
     border-radius: 4px;
     font-size: 1.8rem;
     text-decoration: none;
     padding: 1.6rem 4.6rem;
     display: inline-block;
}
.wrapperContainer-dark{
     background-color: #2a2a2a;
     color: #fafafa;
}
.wrapperContainer-light{
     background-color: #fafafa;
}
.wrapperContainer-dark2{
     background-color: #003464;
     color: #fafafa;
}

.container{
     max-width: 127.6rem; /*mesmo q 1276px*/
     margin: auto;
}
.header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: var(--primary-color);
     padding: 2rem 0;
}

.header_nav a {
     padding: .75em 1.15em; /* em equivale 16 pixel, por conta do 'p' la em cima*/
     border: solid 1px; /*nao coloquei cor, porem ele herda da cor da letra */
     text-decoration: none;
}
.header_nav ul{
     display: flex;
     gap: .6rem;
     list-style: none;
}
.header_nav a:hover{
     background-color:black;
}
.wrapperContainer-hero{
     /*pode por variavel tbm dentro, var(--cor)*/
     background-image: linear-gradient(transparent, yellow);
}
.heroBanner{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20rem;
}
.hero_title{
     margin-bottom: 4rem;
}