
body{

     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     min-height: 100vh;
     margin: 0;

     display: flex;
     align-items: center;
     justify-content: center;

     background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
main{
background-color: #fff;
width: 620px;
padding: 2rem;
box-sizing: border-box;
box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.63);

}
h1{
     font-size: 100;
     text-align: center;

}
.game{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(4, 90px);
     gap: .5rem;
     
}

.card{
     position: relative;
     border: 1px solid rgb(0, 17, 255);
      border-radius: 6px;
      transform-style: preserve-3d; /* mantém 3D */
     transition: transform 0.6s; 
    
}
.card img{
     max-width: 100%;
     position: absolute;
     overflow: hidden;
     object-fit: cover;
     height: 100%;
     width: 100%;
      border-radius: 6px;

      backface-visibility: hidden;

}
.card-front{
     transform: rotateY(180deg);
}
main:has(#check1:checked) .game .card1,
main:has(#check2:checked) .game .card2,
main:has(#check3:checked) .game .card3,
main:has(#check4:checked) .game .card4,
main:has(#check5:checked) .game .card5,
main:has(#check6:checked) .game .card6,
main:has(#check7:checked) .game .card7,
main:has(#check8:checked) .game .card8,
main:has(#check9:checked) .game .card9,
main:has(#check10:checked) .game .card10,
main:has(#check11:checked) .game .card11,
main:has(#check12:checked) .game .card12,
main:has(#check13:checked) .game .card13,
main:has(#check14:checked) .game .card14,
main:has(#check15:checked) .game .card15,
main:has(#check16:checked) .game .card16
{
     transform: rotateY(180deg);
}
main:has(#check1:focus) .game .card1,
main:has(#check2:focus) .game .card2,
main:has(#check3:focus) .game .card3,
main:has(#check4:focus) .game .card4,
main:has(#check5:focus) .game .card5,
main:has(#check6:focus) .game .card6,
main:has(#check7:focus) .game .card7,
main:has(#check8:focus) .game .card8,
main:has(#check9:focus) .game .card9,
main:has(#check10:focus) .game .card10,
main:has(#check11:focus) .game .card11,
main:has(#check12:focus) .game .card12,
main:has(#check13:focus) .game .card13,
main:has(#check14:focus) .game .card14,
main:has(#check15:focus) .game .card15,
main:has(#check16:focus) .game .card16
{
     transform: rotateY(180deg);
     outline: 1px solid rgba(0, 0, 0, 0.459);
     outline-offset: 1px;
}
.controls{
     position: absolute;
     clip: rect(1px, 1px, 1px ,1px);
     width: 1px;
     height: 1px;
     overflow: hidden;
}