*, *::after, *::before{
     box-sizing: border-box;
     margin: 0;
     padding: 0;

}
body{
     font-family: sans-serif;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     min-height: 100vh;
     background-color: rgb(168, 168, 168);
     gap: 2em;
     
}
img{
     max-width: 100%;
     display: block;
}
.gallery{
     width: 60rem;
     display: flex;
     flex-wrap: wrap;
     gap: .5em;
     background-color: white;
     justify-content: space-between;
     padding: .5em;
     box-shadow: 0 0 14px 2px rgba(0, 0, 0, .5);

}

.gallery .image{
     flex-basis: 24%;/*25% - .5em)*/
     position: relative;
     overflow: hidden; /*para conter o p dentro da imagem*/
}
.image a {
     text-decoration: none;
}
.gallery p{
     background-color: rgba(0, 0, 0, .8);
     color: white;
     text-transform: uppercase;
     padding: 1em;
     letter-spacing: 2px;
     font-size: .75em;
     position: absolute;
     bottom: 0;
     width: 100%;
     text-align: center;
     opacity: .2;
     transform: translateY(100%);
     transition: all .3s ease-in-out;
}
.image:hover p{
     transform: translateY(0);
     opacity: 1;
}
.image img{
     transform: scale(1);
     transition: transform .5s ease-in-out;


}
.image:hover img{
     transform: scale(1.5);/* scale (1.5) rotate(-10deg) pra aumentar e rotacionar*/
}
.image::after{
     content: " ";
     position: absolute;
     background-color: white;
     inset: 0; /* 10px 10px 10px 20pxem vez de vc colocar top:0; right bottom:0; left 0 sentido horario*/
     
     opacity: .5;
     pointer-events: none;/* desliga qualquer acoes de clic*/
     transition: opacity .5s ease-in-out;
}
.image:hover::after{
     opacity: 0;
}