
/*caiuse.com mix color*/
:root{
    --primary-color:#e10f0f;
}
body {
    font-family: sans-serif;
    background-image: linear-gradient(to top, transparent, blue), url(imagens/tile.png);
/*posso colocar (transparent 50%, green 60%, blue)*/
/*posso mudar a diferçao : linear-gradiente(to left, red,blue) ou to top left ou to top right, ou com angulos, 90deg ou 72deg , posso ter (to top, rgba(0, 0, 255, .5) ou rgb( 0 0 255 / .5) etc..*/

    background-attachment: fixed, scroll; /*imagem de fundo fica fixa, neste caso a cor esta fixada, e a imagem esta scrolando. se eu deixasse somente fixed,a imagem e cor ficaria fixa*/

    background-blend-mode: color; /*aqui voce consegue mesclar a cor com a imagem*/
}
.cores{
    --teste:#f00;
    --color: color-mix(in srgb, var(--teste), transparent);
     /*criamos uma variavel com color-mix, fazendo isso podemos usar no border, pq nao funiona completamente no border*/
    background-color: var(--color);


    width: 80%;
    border: 8px dashed color-mix(in srgb, blue 50%, green 90%);/* fica um mix de cor, tem tbm in lsh*/
    /*border: 8px dashed var(--color) com variavel color-mix*/
    /*background-color: color-mix(in srgb, var(--teste), transparent); */ /*podemos fazer assim*/
    margin: 20px auto;
    padding: 20px;

}
.cores p {
    margin: 0;
}

section{
    counter-reset: contador;
}
.cores{
    counter-increment: contador;

}

.cores::before{
    content:"[" counter(contador) "]"; /*quando abre e fecha parentes e funcao. o counter deve ser sem aspas. pq aspas é texto*/
    margin-bottom: 16px;
    font-weight: bolder;
    
}
.cores:nth-of-type(2){
    /*selecionei o 2 filho*/
    background-color: white;
    background-clip: content-box;
    
    /*padding-box: começa a partir do padding
    content-box: coloca somente no conteudo*/
}
.cores:nth-of-type(3){
    background-color: hsl(50deg, 60%, 50%);
    box-shadow: 10px 10px 6px hsl(100deg, 100%, 50%) inset;
}

/*mais tipo de linear gradiente*/
.cores:nth-of-type(4){
    background-image: linear-gradient(70deg, blue, transparent),
    linear-gradient(to top, red, transparent);
    background-clip: content-box, padding-box;
}
/*gradiente radial*/
.cores:nth-of-type(5){
    background-image: radial-gradient(blue, red);/*pode ter mais cores, pode ter exemplo (green50%, yellow, pink, blue 10%)*/

}
.cores:nth-of-type(6){
    background-image: radial-gradient(circle, blue, red);/*por padrao ele é ellipse, circle significa q comeca no centro*/

}
/*mudando as posiçao do gradiente*/
.cores:nth-of-type(7){
    background-image: radial-gradient(circle at left, blue, red);
    /*left top etc...
    background-image: radial-gradient(circle at 10% 50%, blue, red); 10% do azul no eixo e 50%no eixo, pode ser em px
    .. pode ser somente(at 50px 20px, blue, green) pois o padrao e ellipse e fica assim.*/

}
/*closest e farthest*/
.cores:nth-of-type(8){
    background-image: radial-gradient(closest-corner at 50px 20px, blue, red);
    /*fica perto do ponto mais proximo*/

}
.cores:nth-of-type(9){
    background-image: radial-gradient(farthest-corner at 50px 20px, blue, red);
    /*fica mais longe do ponto mais perto*/

}
.cores:nth-of-type(10){
    background-image: radial-gradient(closest-side at 50px 20px, blue, red);
    /*o lado mais perto*/

}
.cores:nth-of-type(11){
    background-image: radial-gradient(farthest-side at 50px 20px, blue, red);
    /*o lado mais longe*/
    /*pode por (circle farthest....)

}
