h1{
     color: red;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 56px;

}
h2{
     font-size: 48px;
     font-style: italic;
     /*text-transform: capitalize; pega cada letra inicial da palavra e transforma em maiuscula*/
     text-transform: uppercase;
     text-align: center;
     text-decoration: underline; /*none, para retirar o sublimado*/
}
p{
     text-align: left;
     /*text-align: justify; pode prejudica a legibilidade do conteudo*/
     text-indent: 10px; /*começo de cada paragrafo, a distancia*/
     color: #0000ff;
     font-variant: small-caps; /*vai colcoar todas as letras em maiuscula , mas umas vao ficar maior q outras dependendo se ela era mauiscula ou nao*/
}
a{
     text-decoration: none; /*remove o sublimado*/
     color: black;
}