.container{
     background-color: lightsalmon;
     display: flex;
     flex-flow: row nowrap;
     
     
     
    
     

}
.item{
     background-color: lightblue;
     border: 1px solid black;
     text-align: center;
     flex-basis: 300px; /*ou auto e ele adpta automatico*/
    

}
#cxa{
flex-shrink: 1;
flex-grow: 0;
}
#cxb{
flex-shrink: 1;
flex-grow: 1;
}
#cxc{
flex-shrink: 0;
flex-grow: 0;
}