body{
     background-color: #ccc;
}
h1{
     color: rgb(12, 32, 70);
     font-family: Arial, Helvetica, sans-serif;
     font-size: 56px;
     background-color: rgba(98, 137, 207, 0.397);

}
h2{
     font-weight: normal; /*tira negrito*/
     font-size: 48px;
     font-style: italic;
     /*text-transform: capitalize; pega cada letra inicial da palavra e transforma em maiuscula*/
     text-transform: uppercase;
     text-align: center;
     text-decoration: underline; /*none, para retirar o sublimado*/
}
p{
     text-align: left;
     font-weight: bold; /*em negrito*/
     /*text-align: justify; pode prejudica a legibilidade do conteudo*/
     text-indent: 10px; /*começo de cada paragrafo, a distancia*/
     color: #0000ff;
     font-variant: small-caps; /*vai colcoar todas as letras em maiuscula , mas umas vao ficar maior q outras dependendo se ela era mauiscula ou nao*/
}
a{
     text-decoration: none; /*remove o sublimado*/
     color: black;
     font-variant: normal; /*para ficar normal*/
}