body{
     background-color: antiquewhite ;
}
h1{
     color: red;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 54px;
     font-style: italic; /*italico*/
}
h2{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 42px;
     font-style: oblique;/*rotaciona a letra, fica italico */
     font-weight: normal; /*bold negrito*/
}
h3{
     font-size: 38px;
     text-transform: uppercase; /*maiusculo*/
     /*text-transform: uppercase; /*toda primeira letra da palavra e fica maiusculo*/
     text-align: right;/*muda para direita, esquerda, center e justificado*/
     background-color: chocolate;
}
p{
     font-size: 28px;
     text-align: justify; /*normalmente nao usa, usa somente right*/
     text-indent: 28px;
     color: #0000ff;/*ou #00f*/
     font-variant: small-caps;/*todas as letras em maiuscula, e se tiver letra maiuscula ela fica maior*/
     text-decoration: none; /*retira o risco embaixo da letra*/
}
a{
     text-decoration: none;
     font-variant: normal;/*se caso vc tiver colocado o smaçç-caps*/
}