@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@300;400&display=swap');


:root{
     --login-primary-color: #3a68b7;
     
}

body{
     margin: 0;
     background-color:var(--login-primary-color);
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     font-family: 'Roboto', sans-serif;


}
.form{
     width: 80%;
     max-width: 32rem;
     /*background-color: white;*/
    /* border-left: 10px solid rgba(0, 0, 0, .5);*/
     background-image: linear-gradient(to right, rgba(0,0,0,.2).5rem ,white .5rem );
}
.form__fieldset{
     border:none;
     display: flex;
     flex-direction: column;
     gap:.25rem;
     padding: 1rem;
}

.form__title{
     font-weight: 300;
     font-size: 2rem;
     color: var(--login-primary-color);
     padding-top: 2rem;

}
.form__label{

     font-size: .8rem;
     text-transform: uppercase;
     font-weight: 300;
}
.form__input{
     padding: .5rem 0;
     font-size: 1.2rem;
     border-radius: 0;
     border: none;
     border-bottom:1px solid var(--login-primary-color);
     margin-bottom: .8rem;
     outline: none; /*retira borda quando clica*/
     transition: padding-left .08s;
}
.form__input:focus{
     outline: 2px solid var(--login-primary-color);
     padding-left: .3rem;
}
.btn{
     text-transform: uppercase;
     font-size: 1rem;
     border-radius: 3px;
     border: none;
     outline: none;
     padding: .8rem 1.2rem;
     text-decoration: none;
     font-weight: 600;
     letter-spacing: 1px;

}
.btn-primary{
     background-color: var(--login-primary-color);
     color: white;


}
.btn-secondary{
     color: var(--login-primary-color);
}
.form__action{
     display: flex;
     align-items: center;
     flex-wrap: wrap;/*para nao encavalar quando tiver mto texto*/
}
.form__action__aside{
     font-size: .85rem;
     flex-grow: 1; /*para ele ocupar toda a area*/
     text-align: right;
     text-decoration: none;
     color: #808080;

}
.form__action__link{
     text-decoration: none;
     color: inherit; /*herda a cor do texto anterior*/
}